$border-btn-color: #389c56;

.container-header {
  text-align: center;
  background-color: #16181c;
  display: flex;
  justify-content: space-between;

  .header-left {
    display: flex;
  }
  .header-right {
    align-self: flex-start;
  }
  h2 {
    color: #fff;
    text-decoration: none;

    .link {
      text-decoration: none;
    }
  }
  i {
    font-size: 1.9em;
  }
  a {
    color: #fff;
    font-size: 1.2em;
    border-bottom: solid #00acc1;
  }
  a:hover {
    color: #fff;
    text-decoration: none;
    border-bottom: solid $border-btn-color;
  }
}
