.container-searchpage {
  padding: 25px 0;
  color: #8e95a5;
  background-color: #1e2129;
  height: 100vw;
  .logo {
    text-align: center;
    display: flex;
    justify-content: space-around;
  }
  .container-searchbox {
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;

    input {
      font-size: 1.7em;
      max-width: 600px;
      justify-content: center;
    }
  }
  .homebtn {
    display: flex;
    justify-content: space-around;
    button {
      font-size: 1.5em;
      font-weight: 500;
    }
  }
}
