$theme-colors: (
  "fmv": #00acc1,
  "bgicon": #4c4f57,
  "bgc": #1e2129,
);

@import "node_modules/bootstrap/scss/bootstrap";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Georgia, "Times New Roman", Times, serif;
}

body {
  background-color: #1e2129;
  height: 100vh;
}

.button-fmv {
  color: #fff;
  background-color: #00acc1;
}

a {
  color: #fff;
  text-decoration: none;
}
