.carousel {
  position: relative;
}
.slides {
  .slide {
    margin-right: auto;
    margin-left: auto;
    display: none;
    max-width: 100%;
    list-style-type: none;
    text-align: center;
    transition: all 5s;

    // @media (min-width: 900px) {
    //   padding-right: 60px;
    //   padding-left: 60px;
    // }

    &--active {
      display: block;
    }
  }
}

.img-backdrop {
  position: relative;
  text-align: center;
  color: #eee;
  margin-bottom: 2em;
  background: linear-gradient(#ddd, black);

  img {
    width: 100%;
    // max-width: 1000px;
    max-height: 600px;
    justify-self: center;
    opacity: 0.85;
  }

  div {
    position: absolute;
    bottom: 10%;
    left: 50px;

    h1 {
      text-align: start;

      a {
        color: inherit;
      }
      a:hover {
        text-decoration: none;
        opacity: 0.75;
      }
    }
    p {
      text-align: start;
      margin-bottom: 0;
    }
    ul {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 0;
      li {
        margin-left: 0.5em;
        margin-right: 0.5em;
      }
    }
  }
  @media (max-width: 900px) {
    background-color: inherit;
    img {
      width: 100%;
      max-height: 500px;
    }
  }
}
// Carousel indicators
.carousel__indicators {
  display: flex;
  flex-direction: row;
  // justify-content: center;
  margin-top: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 1em;
  left: 50px;

  li {
    &:nth-of-type(n + 2) {
      margin-left: 9px;
    }
  }
}

.carousel__indicator {
  display: block;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  background-color: #ddd;
  cursor: pointer;
  opacity: 0.45;
  transition: opacity 0.15s cubic-bezier(0.4, 0, 1, 1);

  &:hover {
    opacity: 0.75;
  }

  &--active {
    background-color: #00acc1;
    &,
    &:hover {
      opacity: 0.85;
    }
  }
}

.carousel__arrow {
  position: absolute;
  top: 50%;
  display: block;
  color: #eee;
  font-size: 5em;
  cursor: pointer;
  opacity: 0.5;
  transform: translateY(-50%);
  transition: opacity 0.15s cubic-bezier(0.4, 0, 1, 1);

  &:focus {
    outline: 0;
  }

  &:hover {
    opacity: 0.5;
    color: inherit;
  }

  &--left {
    left: 32px;
    z-index: 5555;
  }

  &--right {
    right: 32px;
  }
}
